
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


html, body { 
    background-color: white;
margin: 0 auto;
font-family: 'Roboto', sans-serif;
font-size: 13px;
}


header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: #202020;
  
}
button {
    padding: 10px 10px;
    border: none;
    background: blue;
    color: white;
    font-weight: 500;
    border-radius: 2px;
}
header li { 
    display: inline-block;
 }

nav { 
    display: flex;
    justify-content: space-between;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
    line-height: ;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 20px;
    height: 40px;
    width: 595px;
}
.searchbar #searchbox {
    height: 20px; 
    width: 580px;
    border: none;
    outline: none;
 
}
input[type=submit] {
    border: none;
    border-radius: 0;
    background: #FAFAFA;
    font-size: 14px;
    padding: 10px 14px;
    display: inline-block;
    width: 200px;
   
}

.google-img { 
    width: 280px;
    height: 95px;
    margin: 0 auto;
    display: block;
}

footer ul {
    list-style-type: none;
    text-decoration: none;
    background: #ECECEC;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer li { 
}