
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


html, body { 
    background-color: white;
margin: 0 auto;
font-family: 'Roboto', sans-serif;
font-size: 14px;
}


header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: #202020;
  display: inline-flex;
  margin-left: 20px;
}
button {
    padding: 10px 10px;
    border: none;
    background: blue;
    color: white;
    font-weight: 500;
    border-radius: 2px;
}
header li { 
    padding: 10px 10px;
    
 }

nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.rightnav {align-items: center;}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
    
}

.searchbar {
    display: flex;
    justify-content: space-between;
    border: 1.25px solid #ECECEC;
    border-radius: 20px;
    height: 42px;
    width: 575px;
    padding:;
    align-items: center;
    margin-bottom: 25px;
}
.searchbar #searchbox {
    height: 30px; 
    width: 400px;
    border: none;
    outline: none;
 margin-right: 10px;
 
}
input[type=submit] {
    border: none;
    border-radius: 2;
    background: #F5F5F5;
    font-size: 13.5px;
    padding: 10px 0px;
    display: inline-block;
    width: 150px;
    margin-bottom: 25px;
    justify-content: center;
}
.searchbuttons {

}
#search-icon { height: 10px;
width: 10px;
opacity: .3;}

.google-img { 
    width: 280px;
    height: 95px;
    margin: 0 auto;
    display: block;
    margin-top: 80px;
    margin-bottom: 25px;
}

footer ul, p {
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: gray;
}
footer li { padding: 0 10px;
}
li:hover {
    text-decoration: underline;
}
#navfooter { 
    background: #ECECEC;
    bottom: 0;
    position: fixed;
    width: 100%;
}